body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f14;
    color: #ffffff;
}

header {
    background: #151521;
    padding: 20px;
    text-align: center;

}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00ffd5;
}

.container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.card {
    background: #1b1b2a;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}

.price {
    color: #00ffd5;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background: #151521;
    margin-top: 30px;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    background: #00ffd5;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}
/* ===== ТЕМА (по умолчанию тёмная) ===== */

:root {
    --bg: #0f0f14;
    --card: #1b1b2a;
    --text: #ffffff;
    --accent: #00ffd5;
    --header: #151521;
}

/* Светлая тема */
body.light {
    --bg: #e6e6e6;
    --card: #ffffff;
    --text: #111111;
    --accent: #0077ff;
    --header: #d9d9d9;
}

/* ===== ПРИМЕНЕНИЕ ПЕРЕМЕННЫХ ===== */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    transition: 0.3s ease;
}

header {
    background: var(--header);
    padding: 20px;
    text-align: center;
}

nav a {
    color: var(--text);
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--accent);
}

.container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.card {
    background: var(--card);
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}

.price {
    color: var(--accent);
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background: var(--header);
    margin-top: 30px;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    background: var(--accent);
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}
